.navPosition {
  /* flex-direction: column !important;
  align-items: flex-start !important; */
  align-items: center;
}
.itemMenuOrange {
  margin-bottom: 10%;
  padding: 10%;
  justify-content: center;
  background-color: orange;
  width: 100%;
}

.itemMenuBlue {
  margin-bottom: 10%;
  padding: 5%;
  background-color: lightblue;
  width: 100%;
}
